.navigation {
  justify-self: flex-end;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.navigation ul li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
